{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}Election: {{ title }}{% endblock %}
{% block content %}
<h2>Ballot</h2>
<form method="POST" action="/vote">
    <fieldset>
        <legend>Candidates</legend>
        {% for candidate in candidates %}
            <input id="candidate-{{candidate}}" type="{{ 'checkbox' if multiple else 'radio' }}" name="candidate" value="{{ candidate }}">
            <label for="candidate-{{candidate}}">{{ candidate }}</label>
            <br>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Authentication</legend>
        <label for="password" class="required">Password</label>
        <br>
        <input type="text" name="password" id="password" required>
    </fieldset>
    <button type="submit">Vote</button>
</form>
{% endblock %}
