{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}Election: {{ title }}{% endblock %}
{% block content %}
<section class="ballot">
    <h2 class="ballot-title">Ballot</h2>

    <form class="ballot" method="POST" action="/vote">
        <fieldset class="ballot__candidates">
            <legend>Candidates</legend>
            {% for candidate in candidates %}
                <div class="ballot__candidate">
                    <input id="candidate-{{candidate}}" type="{{ 'checkbox' if multiple else 'radio' }}" name="candidate" value="{{ candidate }}">
                    <label for="candidate-{{candidate}}">{{ candidate }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <fieldset class="ballot__authentication">
            <legend>Authentication</legend>
            <label class="label label--block label--required" for="password">Password</label>
            <input class="input input--text" type="text" name="password" id="password" required>
        </fieldset>
        <button class="button button--submit" type="submit">Vote</button>
    </form>
</section>
{% endblock %}
